:root {
    --green: hsl(75, 94%, 57%);
    --gray-900: hsl(0, 0%, 8%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-700: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
}

/* text-preset */

.text-preset-1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.text-preset-2-bold {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    margin: 0;
    color: var(--white);
}

body {
    min-height: 100vh;
    background: var(--gray-900);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main{
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-800);
    align-items: center;
    padding: 24px;
    border-radius: 12px;
    gap: 24px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    height: 5.5rem;
    object-fit: cover;
}

.name-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name-location p {
    color: var(--green);
}

.card-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.card-tabs button {
    width: 100%;
    height: 3rem;
    border: none;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--gray-700);
    transition: all 0.3s ease-in-out;
}

.card-tabs button:hover {
    background-color: var(--green);
    color: var(--gray-900);
    cursor: pointer;
    caret-color: var(--gray-900);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--green);
    text-decoration: none;
}

@media screen and (min-width : 768px) {
    .card {
        padding: 40px;
        width: 28rem;
    }
}

@media screen and (min-width : 1440px) {
    .card {
        width: 24rem;
    }
}
