:root {
    --green: hsl(75, 94%, 57%);
    --gray-900: hsl(0, 0%, 8%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-700: hsl(0, 0%, 20%);
    --white: hsl(0, 0%, 100%);
}

/* text-preset */

.text-preset-1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
}

.text-preset-2-bold {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: "Inter", system-ui;
    margin: 0;
    padding: 0;
    color: var(--white);
}

body {
    min-height: 100vh;
    background: var(--gray-900);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main {
    max-width: 28rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--gray-800);
    align-items: center;
    padding: clamp(24px, 40px, 5vw);
    border-radius: 12px;
    gap: 24px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
    aspect-ratio: 1;
    object-fit: cover;
}

.name-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name-location p {
    color: var(--green);
}

.card-tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.card-tabs li {
    list-style: none;
    border-radius: 8px;
    overflow: hidden;
}

.card-tabs li a {
    display: block;
    width: 100%;
    min-height: 3rem;
    padding: 12px;
    background-color: var(--gray-700);
    transition: all 0.3s ease;
    text-decoration: none;
}

.card-tabs li a:hover {
    background-color: var(--green);
    color: var(--gray-900);
    cursor: pointer;
    caret-color: var(--gray-900);
    text-decoration: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--green);
}


.card-tabs li a:focus-visible {
    outline: none;
    color: var(--gray-900);
    background-color: var(--green);
}

footer a:focus-visible {
    outline: 3px solid var(--green);
    outline-offset: 4px;
}